In [0]:
root = "~/premier-league/"
#change your root accordingly

In [0]:
import numpy as np
import pandas as pd
import json
import glob

# import warnings
# warnings.filterwarnings('ignore')

In [0]:
#Reading data from data-dump
data_dump = {}
data_dump_loc = root+'Mongo_Data/'
for filename in glob.glob(data_dump_loc+'*.json'):
    data_dump[filename[len(data_dump_loc):-5]] = pd.read_json(filename, lines = True)

#Read all csv files of Reddit submissions from reddit-comments folder
# reddit_data = {}
# reddit_sub_loc = root+'data/reddit-comments/'
# for filename in glob.glob(reddit_sub_loc+'*.csv'):
#     reddit_data[filename[len(reddit_sub_loc):-4]] = pd.read_csv(filename, error_bad_lines=False )

#Read all base-excels from base-csvs folder - to verify any inconsistencies
base_data = {}
base_csvs = root+'data/base-csvs/'
for filename in glob.glob(base_csvs+'*.csv'):
    base_data[filename[len(base_csvs):-4]] = pd.read_csv(filename, error_bad_lines=False )

In [0]:
all_competitions  = data_dump['Competition_Table']
reddit_data       = data_dump['comment_data']
league_annualstats= data_dump['LeagueTable']
manager_stats     = data_dump['Manager_Table']
odds_data         = data_dump['odds_data']

In [54]:
odds_data.head()

                                    _id Div       Date  ... MaxCAHA AvgCAHH  AvgCAHA
0  {'$oid': '5e7643f33aad6a8a97b695b2'}  E0 2015-08-08  ...     NaN     NaN      NaN
1  {'$oid': '5e7643f33aad6a8a97b695b3'}  E0 2015-08-08  ...     NaN     NaN      NaN
2  {'$oid': '5e7643f33aad6a8a97b695b4'}  E0 2015-08-08  ...     NaN     NaN      NaN
3  {'$oid': '5e7643f33aad6a8a97b695b5'}  E0 2015-08-08  ...     NaN     NaN      NaN
4  {'$oid': '5e7643f33aad6a8a97b695b6'}  E0 2015-09-08  ...     NaN     NaN      NaN

[5 rows x 128 columns]

In [25]:
odds_data[(odds_data['Date']>='2015-08-08') & (odds_data['Date']<='2016-05-17')].shape
#This is fishy, this x_value is supposed to be 380(total matches that season)

(332, 128)

In [55]:
#To verify if the odds_data is right in the first place, I used the season2015-16 file from ~/data/base-csvs folder
plseason201516 = base_data['season2015-16']
plseason201516.head()

  Div       Date     HomeTeam     AwayTeam  ...  BbAvAHA  PSCH  PSCD   PSCA
0  E0 2015-08-08  Bournemouth  Aston Villa  ...     1.92  1.82  3.88   4.70
1  E0 2015-08-08      Chelsea      Swansea  ...     1.73  1.37  5.04  10.88
2  E0 2015-08-08      Everton      Watford  ...     1.71  1.75  3.76   5.44
3  E0 2015-08-08    Leicester   Sunderland  ...     1.90  1.79  3.74   5.10
4  E0 2015-08-08   Man United    Tottenham  ...     1.78  1.64  4.07   6.04

[5 rows x 65 columns]

In [53]:
plseason201516['Date'] = pd.to_datetime(plseason201516['Date'])
plseason201516[(plseason201516['Date']>='15-08-08') & (plseason201516['Date']<='16-05-17')].shape
#This gives the right output

(380, 65)

In [56]:
all_competitions.head()

                                    _id  ... collection_name
0  {'$oid': '5e67b6eb30cd3ecc8436f2a4'}  ...     Competition
1  {'$oid': '5e67b6eb30cd3ecc8436f2a5'}  ...     Competition
2  {'$oid': '5e67b6eb30cd3ecc8436f2a6'}  ...     Competition
3  {'$oid': '5e67b6eb30cd3ecc8436f2a7'}  ...     Competition
4  {'$oid': '5e67b6eb30cd3ecc8436f2a8'}  ...     Competition

[5 rows x 17 columns]

In [33]:
all_competitions[(all_competitions['match_date']>='08-08-2015') & (all_competitions['match_date']<='17-05-2016') & (all_competitions['competition_name'] == 'Premier League')].shape
#This kinda feels incorrect too. This is supposed to be 2*380 at the max I believe,
#because each match was recorded twice to include play_style and stuff

(1179, 17)